version: '3.9'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=prod
    depends_on:
      - mysql
      - redis
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mini_study
    ports:
      - "3306:3306"
  redis:
    image: redis:7
    ports:
      - "6379:6379"
